@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Montserrat", sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.wrapper-container {
  @apply max-w-5xl m-auto px-4;
  /* @apply  bg-red-50; */
}

.accor-title::after {
  content: "\276F";
  width: 1em;
  height: 1em;
  text-align: center;
  transition: all 0.35s;
}

.accord-content {
  max-height: 0 !important;
  transition: all 0.35s;
  opacity: 0;
}

input:checked + .accor-title::after {
  transform: rotate(90deg);
}

input:checked ~ .accord-content {
  max-height: 100vh !important;;
  opacity: 1;
}
